artifacts/FaultReport.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:m="grei.ufc.br/smad#" targetNamespace="grei.ufc.br/smad#" elementFormDefault="qualified" attributeFormDefault="unqualified">&amp;#13;
	<xs:element name="FaultReport" type="m:FaultReport"/>&amp;#13;
	<xs:complexType name="FaultReport">&amp;#13;
		<xs:sequence>&amp;#13;
			<xs:element name="ReportingGroup" type="m:ReportingGroup" minOccurs="1" maxOccurs="1"/>&amp;#13;
		</xs:sequence>&amp;#13;
	</xs:complexType>&amp;#13;
	<xs:simpleType name="Analog_Meas" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Analog_Meas">&amp;#13;
		<xs:restriction base="xs:string">&amp;#13;
			<xs:enumeration value="CurrentMagnitude" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Analog_Meas.CurrentMagnitude"/>&amp;#13;
			<xs:enumeration value="CurrentPhase" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Analog_Meas.CurrentPhase"/>&amp;#13;
		</xs:restriction>&amp;#13;
	</xs:simpleType>&amp;#13;
	<xs:complexType name="ControlArea" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ControlArea">&amp;#13;
		<xs:annotation>&amp;#13;
			<xs:documentation>A control area is a grouping of generating units and/or loads and a cutset of tie lines (as terminals) which may be used for a variety of purposes including automatic generation control, powerflow solution area interchange control specification, and input to load forecasting.   Note that any number of overlapping control area specifications can be superimposed on the physical model.</xs:documentation>&amp;#13;
		</xs:annotation>&amp;#13;
		<xs:sequence>&amp;#13;
			<xs:element name="mRID" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ControlArea.mRID">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>&amp;#13;
					<xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
			<xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ControlArea.description">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
			<xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ControlArea.name">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
		</xs:sequence>&amp;#13;
	</xs:complexType>&amp;#13;
	<xs:complexType name="EnergyConnection" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#EnergyConnection">&amp;#13;
		<xs:sequence>&amp;#13;
			<xs:element name="mRID" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#EnergyConnection.mRID">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>&amp;#13;
					<xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
			<xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#EnergyConnection.name">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
			<xs:element name="Analog" minOccurs="0" maxOccurs="unbounded" type="m:Power_Analog" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#EnergyConnection.Analog">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>The measurements associated with this power system resource.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
		</xs:sequence>&amp;#13;
	</xs:complexType>&amp;#13;
	<xs:complexType name="Feeder" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Feeder">&amp;#13;
		<xs:sequence>&amp;#13;
			<xs:element name="mRID" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Feeder.mRID">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>&amp;#13;
					<xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
			<xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Feeder.name">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
		</xs:sequence>&amp;#13;
	</xs:complexType>&amp;#13;
	<xs:complexType name="Power_Analog" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Power_Analog">&amp;#13;
		<xs:annotation>&amp;#13;
			<xs:documentation>Analog represents an analog Measurement.</xs:documentation>&amp;#13;
		</xs:annotation>&amp;#13;
		<xs:sequence>&amp;#13;
			<xs:element name="name" minOccurs="1" maxOccurs="1" type="m:Analog_Meas" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Power_Analog.name">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
			<xs:element name="unitMultiplier" minOccurs="0" maxOccurs="1" type="m:UnitMultiplier" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Power_Analog.unitMultiplier">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>The unit multiplier of the measured quantity.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
			<xs:element name="unitSymbol" minOccurs="0" maxOccurs="1" type="m:UnitSymbol" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Power_Analog.unitSymbol">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>The unit of measure of the measured quantity.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
			<xs:element name="AnalogValues" minOccurs="1" maxOccurs="1" type="m:Power_AnalogValue" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Power_Analog.AnalogValues">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>The values connected to this measurement.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
		</xs:sequence>&amp;#13;
	</xs:complexType>&amp;#13;
	<xs:complexType name="Power_AnalogValue" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Power_AnalogValue">&amp;#13;
		<xs:annotation>&amp;#13;
			<xs:documentation>AnalogValue represents an analog MeasurementValue.</xs:documentation>&amp;#13;
		</xs:annotation>&amp;#13;
		<xs:sequence>&amp;#13;
			<xs:element name="value" minOccurs="1" maxOccurs="1" type="xs:float" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Power_AnalogValue.value">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>The value to supervise.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
		</xs:sequence>&amp;#13;
	</xs:complexType>&amp;#13;
	<xs:complexType name="ProtectedSwitch" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ProtectedSwitch">&amp;#13;
		<xs:annotation>&amp;#13;
			<xs:documentation>A ProtectedSwitch is a switching device that can be operated by ProtectionEquipment.</xs:documentation>&amp;#13;
		</xs:annotation>&amp;#13;
		<xs:sequence>&amp;#13;
			<xs:element name="mRID" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ProtectedSwitch.mRID">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>&amp;#13;
					<xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
			<xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ProtectedSwitch.name">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
			<xs:element name="normalOpen" minOccurs="0" maxOccurs="1" type="xs:boolean" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ProtectedSwitch.normalOpen">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>The attribute is used in cases when no Measurement for the status value is present. If the Switch has a status measurement the Discrete.normalValue is expected to match with the Switch.normalOpen.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
			<xs:element name="SwitchAction" minOccurs="0" maxOccurs="1" type="m:SwitchAction" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ProtectedSwitch.SwitchAction">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Action changing status of this switch.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
		</xs:sequence>&amp;#13;
	</xs:complexType>&amp;#13;
	<xs:simpleType name="Purpose" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Purpose">&amp;#13;
		<xs:restriction base="xs:string">&amp;#13;
			<xs:enumeration value="Coordination" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Purpose.Coordination"/>&amp;#13;
			<xs:enumeration value="Isolation" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Purpose.Isolation"/>&amp;#13;
			<xs:enumeration value="Restoration" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Purpose.Restoration"/>&amp;#13;
		</xs:restriction>&amp;#13;
	</xs:simpleType>&amp;#13;
	<xs:complexType name="ReportingGroup" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ReportingGroup">&amp;#13;
		<xs:annotation>&amp;#13;
			<xs:documentation>A reporting group is used for various ad-hoc groupings used for reporting.</xs:documentation>&amp;#13;
		</xs:annotation>&amp;#13;
		<xs:sequence>&amp;#13;
			<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ReportingGroup.mRID">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>&amp;#13;
					<xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
			<xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ReportingGroup.description">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
			<xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ReportingGroup.name">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
			<xs:element name="Deenergized_ControlArea" minOccurs="0" maxOccurs="unbounded" type="m:ControlArea" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ReportingGroup.Deenergized_ControlArea">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Power system resources which belong to this reporting group.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
			<xs:element name="Deenergized_EnergyConnection" minOccurs="0" maxOccurs="unbounded" type="m:EnergyConnection" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ReportingGroup.Deenergized_EnergyConnection">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Power system resources which belong to this reporting group.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
			<xs:element name="Feeder" minOccurs="0" maxOccurs="unbounded" type="m:Feeder" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ReportingGroup.Feeder">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Power system resources which belong to this reporting group.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
			<xs:element name="Isolated_ControlArea" minOccurs="0" maxOccurs="unbounded" type="m:ControlArea" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ReportingGroup.Isolated_ControlArea">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Power system resources which belong to this reporting group.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
			<xs:element name="Isolated_EnergyConnection" minOccurs="0" maxOccurs="unbounded" type="m:EnergyConnection" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ReportingGroup.Isolated_EnergyConnection">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Power system resources which belong to this reporting group.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
			<xs:element name="ProtectedSwitch" minOccurs="0" maxOccurs="unbounded" type="m:ProtectedSwitch" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ReportingGroup.ProtectedSwitch">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Power system resources which belong to this reporting group.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
		</xs:sequence>&amp;#13;
	</xs:complexType>&amp;#13;
	<xs:complexType name="SwitchAction" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#SwitchAction">&amp;#13;
		<xs:annotation>&amp;#13;
			<xs:documentation>Action on switch as a switching step.</xs:documentation>&amp;#13;
		</xs:annotation>&amp;#13;
		<xs:sequence>&amp;#13;
			<xs:element name="SwitchingPlan" minOccurs="0" maxOccurs="1" type="m:SwitchingPlan" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#SwitchAction.SwitchingPlan">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Group to which this step belongs.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
		</xs:sequence>&amp;#13;
	</xs:complexType>&amp;#13;
	<xs:complexType name="SwitchingPlan" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#SwitchingPlan">&amp;#13;
		<xs:annotation>&amp;#13;
			<xs:documentation>A sequence of grouped or atomic steps intended to:</xs:documentation>&amp;#13;
			<xs:documentation>- de-energise equipment or part of the network for safe work, and/or</xs:documentation>&amp;#13;
			<xs:documentation>- bring back in service previously de-energised equipment or part of the network.</xs:documentation>&amp;#13;
		</xs:annotation>&amp;#13;
		<xs:sequence>&amp;#13;
			<xs:element name="mRID" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#SwitchingPlan.mRID">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>&amp;#13;
					<xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
			<xs:element name="purpose" minOccurs="0" maxOccurs="1" type="m:Purpose" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#SwitchingPlan.purpose">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Purpose of  this plan, such as whether it is to move the state from normal to some abnormal condition, or to restore the normal state after an abnormal condition, or to perform some kind of optimisation such as correction of overload, voltage control, etc.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:element>&amp;#13;
		</xs:sequence>&amp;#13;
	</xs:complexType>&amp;#13;
	<xs:simpleType name="UnitMultiplier" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#UnitMultiplier">&amp;#13;
		<xs:annotation>&amp;#13;
			<xs:documentation>The unit multipliers defined for the CIM.  When applied to unit symbols that already contain a multiplier, both multipliers are used. For example, to exchange kilograms using unit symbol of kg, one uses the "none" multiplier, to exchange metric ton (Mg), one uses the "k" multiplier.</xs:documentation>&amp;#13;
		</xs:annotation>&amp;#13;
		<xs:restriction base="xs:string">&amp;#13;
			<xs:enumeration value="G" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#UnitMultiplier.G">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Giga 10**9.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:enumeration>&amp;#13;
			<xs:enumeration value="M" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#UnitMultiplier.M">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Mega 10**6.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:enumeration>&amp;#13;
			<xs:enumeration value="k" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#UnitMultiplier.k">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Kilo 10**3.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:enumeration>&amp;#13;
			<xs:enumeration value="m" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#UnitMultiplier.m">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Milli 10**-3.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:enumeration>&amp;#13;
			<xs:enumeration value="micro" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#UnitMultiplier.micro">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Micro 10**-6.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:enumeration>&amp;#13;
			<xs:enumeration value="none" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#UnitMultiplier.none">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>No multiplier or equivalently multiply by 1.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:enumeration>&amp;#13;
		</xs:restriction>&amp;#13;
	</xs:simpleType>&amp;#13;
	<xs:simpleType name="UnitSymbol" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#UnitSymbol">&amp;#13;
		<xs:annotation>&amp;#13;
			<xs:documentation>The units defined for usage in the CIM.</xs:documentation>&amp;#13;
		</xs:annotation>&amp;#13;
		<xs:restriction base="xs:string">&amp;#13;
			<xs:enumeration value="A" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#UnitSymbol.A">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Current in Ampere.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:enumeration>&amp;#13;
			<xs:enumeration value="VA" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#UnitSymbol.VA">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Apparent power in Volt Ampere (See also real power and reactive power.)</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:enumeration>&amp;#13;
			<xs:enumeration value="VAr" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#UnitSymbol.VAr">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Reactive power in Volt Ampere reactive. The &#x201C;reactive&#x201D; or &#x201C;imaginary&#x201D; component of electrical power (VIsin(phi)). (See also real power and apparent power).</xs:documentation>&amp;#13;
					<xs:documentation>Note: Different meter designs use different methods to arrive at their results. Some meters may compute reactive power as an arithmetic value, while others compute the value vectorially. The data consumer should determine the method in use and the suitability of the measurement for the intended purpose.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:enumeration>&amp;#13;
			<xs:enumeration value="W" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#UnitSymbol.W">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Real power in Watt (J/s). Electrical power may have real and reactive components. The real portion of electrical power (I&#xB2;R or VIcos(phi)), is expressed in Watts. (See also apparent power and reactive power.)</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:enumeration>&amp;#13;
			<xs:enumeration value="deg" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#UnitSymbol.deg">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Plane angle in degrees.</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:enumeration>&amp;#13;
			<xs:enumeration value="rad" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#UnitSymbol.rad">&amp;#13;
				<xs:annotation>&amp;#13;
					<xs:documentation>Plane angle in radian (m/m).</xs:documentation>&amp;#13;
				</xs:annotation>&amp;#13;
			</xs:enumeration>&amp;#13;
		</xs:restriction>&amp;#13;
	</xs:simpleType>&amp;#13;
</xs:schema>
