artifacts/outage.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema targetNamespace="grei.ufc.br/smad" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:smad="grei.ufc.br/smad">
	<xsd:include schemaLocation="common.xsd"/>
	<xsd:element name="Outage" type="smad:Outage_Type"/>
	<xsd:complexType name="Analog">
		<xsd:annotation>
			<xsd:documentation>Analog represents an analog Measurement.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="smad:Analog_Meas" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The name is any free human readable and possibly non unique text naming the object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="phases" type="smad:PhaseCode" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Indicates to which phases the measurement applies and avoids the need to use 'measurementType' to also encode phase information (which would explode the types). The phase information in Measurement, along with 'measurementType' and 'phases' uniquely defines a Measurement for a device, based on normal network phase. Their meaning will not change when the computed energizing phasing is changed due to jumpers or other reasons.
If the attribute is missing three phases (ABC) shall be assumed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="unitMultiplier" type="smad:UnitMultiplier" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The unit multiplier of the measured quantity.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="unitSymbol" type="smad:UnitSymbol" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The unit of measure of the measured quantity.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AnalogValue" type="smad:AnalogValue" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The values connected to this measurement.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AnalogValue">
		<xsd:annotation>
			<xsd:documentation>AnalogValue represents an analog MeasurementValue.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="value" type="xsd:float" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The value to supervise.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timeStamp" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The time when the value was last updated</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Discrete">
		<xsd:annotation>
			<xsd:documentation>Discrete represents a discrete Measurement, i.e. a Measurement representing discrete values, e.g. a Breaker position.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="smad:Discrete_Meas" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The name is any free human readable and possibly non unique text naming the object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DiscreteValue" type="smad:DiscreteValue" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The values connected to this measurement.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ValueAliasSet" type="smad:ValueAliasSet" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The ValueAliasSet used for translation of a MeasurementValue.value to a name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DiscreteValue">
		<xsd:annotation>
			<xsd:documentation>DiscreteValue represents a discrete MeasurementValue.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="value" type="smad:Breaker_DiscreteValue_Integer" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The value to supervise.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timeStamp" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The time when the value was last updated</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Outage_Type">
		<xsd:annotation>
			<xsd:documentation>Document describing details of an active or planned outage in a part of the electrical network.
A non-planned outage may be created upon:
- a breaker trip,
- a fault indicator status change,
- a meter event indicating customer outage,
- a reception of one or more customer trouble calls, or
- an operator command, reflecting information obtained from the field crew.
Outage restoration may be performed using a switching plan which complements the outage information with detailed switching activities, including the relationship to the crew and work.
A planned outage may be created upon:
- a request for service, maintenance or construction work in the field, or
- an operator-defined outage for what-if/contingency network analysis.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.
For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The name is any free human readable and possibly non unique text naming the object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="startTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The start time of the Outage - as reported by some system or individual</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="createdDateTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Date and time that this document was created.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cause" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The cause of this outage.  This is the cause that is used to present to external entities.  That is, the cause is weather, equipment failure, etc.

Note: At present, this is a free text; could be replaced with a separate associated class in case we have multiple causes (e.g. OutageCauseType, inheriting from IdentifiedObject).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ProtectedSwitch" type="smad:ProtectedSwitch" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>All equipments associated with this outage.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProtectedSwitch">
		<xsd:annotation>
			<xsd:documentation>A ProtectedSwitch is a switching device that can be operated by ProtectionEquipment.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="mRID" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.
For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The name is any free human readable and possibly non unique text naming the object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="normalOpen" type="xsd:boolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The attribute is used in cases when no Measurement for the status value is present. If the Switch has a status measurement the Discrete.normalValue is expected to match with the Switch.normalOpen.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="switchOnCount" type="xsd:integer" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The switch on count since the switch was last reset or initialized.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Discrete_Measurement" type="smad:Discrete" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The measurements associated with this power system resource.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Analog_Measurement" type="smad:Analog" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The measurements associated with this power system resource.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ValueAliasSet">
		<xsd:annotation>
			<xsd:documentation>Describes the translation of a set of values into a name and is intendend to facilitate cusom translations. Each ValueAliasSet has a name, description etc. A specific Measurement may represent a discrete state like Open, Closed, Intermediate etc. This requires a translation from the MeasurementValue.value number to a string, e.g. 0-&gt;"Invalid", 1-&gt;"Open", 2-&gt;"Closed", 3-&gt;"Intermediate". Each ValueToAlias member in ValueAliasSet.Value describe a mapping for one particular value to a name.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Value" type="smad:ValueToAlias" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The ValueToAlias mappings included in the set.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ValueToAlias">
		<xsd:annotation>
			<xsd:documentation>Describes the translation of one particular value into a name, e.g. 1 as "Open".</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="value" type="smad:Breaker_DiscreteValue_Integer" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The value that is mapped.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="aliasName" type="smad:Breaker_DiscreteMeasAlias" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The aliasName is free text human readable name of the object alternative to IdentifiedObject.name. It may be non unique and may not correlate to a naming hierarchy.
The attribute aliasName is retained because of backwards compatibility between CIM relases. It is however recommended to replace aliasName with the Name class as aliasName is planned for retirement at a future time.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
